.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3.8rem;
    margin: 0 auto 3rem;
    text-transform: uppercase;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
    }
    & .collection-item {
      margin-bottom: 3rem;
    }
  }
}
