* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans Condensed";
  font-size: 1.6rem;
  padding: 2rem 6rem;
}

a {
  text-decoration: none;
  color: black;
}
